body {
    font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}

.css-1jxdcj3-MuiSvgIcon-root {
    width: 3vh !important;
    height: 3vh !important;
}

.css-qmvhj5>:not(style) {
    margin: 0px !important;
}

.Fpsw {
    cursor: pointer;
    border: none;
}

.inputlabel {
    font-weight: 600 !important;
    font-size: 14px !important;
    height: 24px !important;
    padding-bottom: 8px !important;
}

.css-11uczar-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 10px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.css-1gg2rm3-MuiInputAdornment-root.MuiInputAdornment-positionStart.css-1gg2rm3-MuiInputAdornment-root:not(.MuiInputAdornment-hiddenLabel) {
    margin-top: 0px !important;
}

.css-rfudfd-MuiInputBase-root-MuiFilledInput-root {
    padding: 5px !important;
    border-radius: 10px !important;
    height: 44px !important;
}

.css-rfudfd-MuiInputBase-root-MuiFilledInput-root:before {
    border: none !important;
}

.css-4cgoz6-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 10px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
}

.css-14aiqa-MuiInputBase-root-MuiFilledInput-root {
    padding: 5px !important;
    border-radius: 10px !important;
    height: 44px !important;
}

.css-14aiqa-MuiInputBase-root-MuiFilledInput-root:before {
    border: none !important;
}

.Login {
    margin-left: auto;
    margin-right: auto;
}

.backbtn {
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: none;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2aa7df;
}

.rs-sidenav {
    height: 100vh;
}

.rs-sidenav-item-active,
.rs-dropdown-item-active {
    background-color: #2aa7df !important;
    color: white !important;
    font-weight: 500 !important;
}

.rs-dropdown-selected-within a svg {
    color: #2aa7df !important;
}

.rs-sidenav-toggle-button {
    width: 100% !important;
}